<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script crossorigin="anonymous" integrity="sha384-mlceH9HlqLp7GMKHrj5Ara1+LvdTZVMx4S1U43/NxCvAkzIo8WJ0FE7duLel3wVo" src="https://lib.baomitu.com/jquery/3.4.1/jquery.js"></script>
  <script src="/static/js/delete.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark w-100">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar12"> <a class="navbar-brand d-none d-md-block" href="#">
          <i class="fa d-inline fa-lg fa-circle"></i>
          <b> DATABASE</b>
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">JoinUs</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12"><img src="http://gss0.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh=450,600/sign=f0819b86f8deb48ffb3ca9dac52f161f/0d338744ebf81a4c5c74ed2edc2a6059242da696.jpg" width="30" height="30" class="d-inline-block align-top" alt=""></div>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-5 col-lg-6 col-10 mx-auto border">
          <h1 class="mb-4">记录信息删除</h1>
          <form>
             <div class="form-group"> <label>row_id</label><input type="text" class="form-control" placeholder="row_id" id="rid"> </div>
            <div class="form-group"> <label>subject_id</label><input type="text" class="form-control" placeholder="subject_id" id="sjid"> </div>
            <div class="form-group"> <label>hadm_id</label><input type="text" class="form-control" placeholder="hadm_id" id="hid"> </div>
            <div class="form-group"> <label>admittime</label> <input type="text" class="form-control" placeholder="admittime" id="admt"> </div>
            <div class="form-group"> <label>dischtime</label> <input type="text" class="form-control" placeholder="dischtime" id="dcht"> </div>
            <div class="form-group"> <label>deathtime</label> <input type="text" class="form-control" placeholder="deathtime" id="dtht"> </div>
            <div class="form-group"> <label>admission_type</label> <input type="text" class="form-control" placeholder="admission_type" id="adm_t"> </div>
              <div class="form-group"> <label>admission_location</label> <input type="text" class="form-control" placeholder="admission_location" id="adml"> </div>
            <div class="form-group"> <label>discharge_location</label> <input type="text" class="form-control" placeholder="discharge_location" id="dscl"> </div>
              <div class="form-group"> <label>insurance</label> <input type="text" class="form-control" placeholder="insurance" id="ins"> </div>
            <div class="form-group"> <label>language</label> <input type="text" class="form-control" placeholder="language" id="lg"> </div>
            <div class="form-group"> <label>religion</label> <input type="text" class="form-control" placeholder="religion" id="rlg"> </div>
            <div class="form-group"> <label>marital_status</label> <input type="text" class="form-control" placeholder="marital_status" id="mts"> </div>
            <div class="form-group"> <label>ethnicity</label> <input type="text" class="form-control" placeholder="ethnicity" id="eth"> </div>
            <div class="form-group"> <label>edregtime</label> <input type="text" class="form-control" placeholder="edregtime" id="ert"> </div>
            <div class="form-group"> <label>edouttime</label> <input type="text" class="form-control" placeholder="edouttime" id="eot"> </div>
              <div class="form-group"> <label>diagnosis</label> <input type="text" class="form-control" placeholder="diagnosis" id="dgn"> </div>
            <div class="form-group"> <label>hospital_expire_flag</label> <input type="text" class="form-control" placeholder="hospital_expire_flag" id="hef"> </div>
            <div class="form-group"> <label>has_chartevents_data</label> <input type="text" class="form-control" placeholder="has_chartevents_data" id="hcd"> </div>
            <button type="submit" class="btn btn-primary" id="del_adm">Submit</button>
              <div class="btn-group" >
            <button class="btn dropdown-toggle btn-link" data-toggle="dropdown"> Delete More </button>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#" id="h">Home</a>
              <div class="dropdown-divider"></div>
                <button class="dropdown-item" id="jp_cg">caregiver</button>
                <button class="dropdown-item" id="jp_cpt">cpt</button>
                <button class="dropdown-item" id="jp_dt">datatimeevent</button>
                <button class="dropdown-item" id="jp_lab">labevent</button>
                <button class="dropdown-item" id="jp_pat">patient</button>
                <button class="dropdown-item" id="jp_pre">prescription</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center h-100" style="background-image: url(https://static.pingendo.com/cover-bubble-dark.svg); background-position: right bottom;  background-size: cover; background-repeat: repeat; background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive w-100">
            <table class="table table-striped table-borderless">
              <thead>
                  <th scope="col">row_id</th>
                  <th scope="col">subject_id</th>
                  <th scope="col">hadm_id</th>
                  <th scope="col">admittime</th>
                  <th scope="col">dischtime</th>
                  <th scope="col">deathtime</th>
                  <th scope="col">admission_type</th>
                  <th scope="col">admission_location</th>
                    <th scope="col">discharge_location</th>
                  <th scope="col">insurance</th>
                  <th scope="col">language</th>
                  <th scope="col">religion</th>
                  <th scope="col">marital_status</th>
                  <th scope="col">ethnicity</th>
                  <th scope="col">edregtime</th>
                  <th scope="col">edouttime</th>
                    <th scope="col">diagnosis</th>
                  <th scope="col">hospital_expire_flag</th>
                  <th scope="col">has_chartevents_data</th>
              </thead>
              <tbody id="databody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>